# Tauri
/src-tauri/target/
/src-tauri/gen/

# Node
/node_modules/
/npm-debug.log
/yarn.lock

# Build output
/dist/
/build/
/out/
/release/
/debug/
/coverage/

# Temp and cache
/tmp/
/temp/
/.cache/
/.turbo/
/.parcel-cache/
/.next/
/.nuxt/
/.svelte-kit/

# IDE
/.idea
/.kilo/
/.kiro/
*.iml
.history

# Mac folder file
*.DS_Store

# TypeScript compiled output
/src/js-compiled/
