# Tauri
/src-tauri/target/
/src-tauri/gen/

# Node
/node_modules/
/npm-debug.log
/yarn.lock

# IDE
/.idea
/.kilo/
/.kiro/
*.iml
.history

# Mac folder file
*.DS_Store

# TypeScript compiled output
/src/js-compiled/
