<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Authentication Required</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
</head>

<body>
<div class="ui basic segment">
    <form id="login-form" class="ui form">
        <div class="ui tiny header">
            Enter username and password for <span id="origin"></span>
        </div>
        <div class="field">
            <label for="username-input">Username</label>
            <div class="ui left icon input">
                <input type="text" id="username-input" autofocus/>
                <i class="user icon"></i>
            </div>
        </div>
        <div class="field">
            <label for="password-input">Password</label>
            <div class="ui left icon input">
                <input type="password" id="password-input"/>
                <i class="lock icon"></i>
            </div>
        </div>
        <button class="ui blue button" id="submit-form-button" type="submit">Login</button>
        <button class="ui button" id="cancel-form-button" type="button" onclick="window.close()">Cancel</button>
    </form>
</div>
<script src="../js/login.js"></script>
</body>
</html>
