<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link href="../css/setting.css" rel="stylesheet">
</head>

<body style="height: auto; overflow: scroll">
<div class="ui main text container">
    <div class="ui horizontal divider">
        <h2 id="setting-header" class="ui header">Manage your settings</h2>
    </div>

    <div id="ads-blocker-segment" class="ui piled segment">
        <h3 id="ads-blocker-title" class="ui header">
            <div class="content">
                Ads Blocker
                <div class="sub header">restart the app to apply changes</div>
            </div>
        </h3>
        <div id="ads-blocker-vertical-title" class="ui horizontal divider">Vertical Ads Class</div>
        <div id="ads-blocker-vertical-class" class="ui fluid input">
            <input type="text" placeholder="_1_ag99JsBHxI6S4FP5ayPv">
        </div>
        <div id="ads-blocker-small-title" class="ui horizontal divider">Small Ads Class</div>
        <div id="ads-blocker-small-class" class="ui fluid input">
            <input type="text" placeholder="_2a6h2L3Tl12cnq2P7ZG9y_">
        </div>
        <div id="ads-blocker-premium-title" class="ui horizontal divider">Upgrade Premium Ads Class</div>
        <div id="ads-blocker-premium-class" class="ui fluid input">
            <input type="text" placeholder="_1ZEdP0-JdMOVtjBb5ZcM6M">
        </div>

        <h3 id="unread-message-title" class="ui header">
            <div class="content">
                Unread Message
                <div class="sub header">restart the app to apply changes</div>
            </div>
        </h3>
        <div id="unread-message-class-title" class="ui horizontal divider">Unread Span Class</div>
        <div id="unread-message-class" class="ui fluid input">
            <input type="text" placeholder="_3Jn_7Iv4SwMTMOPJiydZLa">
        </div>

        <h3 id="home-url-title" class="ui header">
            <div class="content">
                Home URL
                <div class="sub header">restart the app to apply changes</div>
            </div>
        </h3>

        <div id="homepageUrl" class="ui floating fluid dropdown labeled search icon button">
            <i class="home icon"></i>
            <span class="text">Select URL</span>
            <div class="menu">
<!--                <div class="header">-->
<!--                    Add URL-->
<!--                </div>-->
<!--                <div class="ui right icon input">-->
<!--                    <i class="search icon"></i>-->
<!--                    <input type="text" name="search" placeholder="Microsoft URL...">-->
<!--                </div>-->
<!--                <div class="divider"></div>-->
                <div class="item">https://outlook.live.com/mail</div>
                <div class="item">https://outlook.office.com/mail</div>
            </div>
        </div>


        <h3 id="home-url-title" class="ui header">
            <div class="content">
                Notification Timeout
                <div class="sub header">
                    <p>Timeout duration for the notification.</p>
                    <p> If timeoutType is set to 'never',  the notification never expires. 
                    It stays open until clicking on the notification or closing the app.</p></div>
            </div>
        </h3>

        <div id="notificationTimeout" class="ui floating fluid dropdown labeled search icon button">
            <i class="home icon"></i>
            <span class="text">Select Notification Timeout</span>
            <div class="menu">
                <div class="item">default</div>
                <div class="item">never</div>
            </div>
        </div>

    </div>
</div>

<script>window.$ = window.jQuery = require('../../resources/jquery-3.4.1.min.js');</script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>require('../js/setting.js');</script>
</body>
</html>